@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

.custom-background{
    background-image: url("../../public/images/logo2.svg");
    /* opacity: 0.6; */
    /* width: 100%; */
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    
}